frontend/.env.local
frontend/.env.local
/frontend/node_modules
/open-design
/scripts
backend/.env.example
/frontend/node_modules
/node_modules
backend/.env
frontend/.od-skills/web-prototype-d0e6390673/open-design.json
.agents/AGENTS.md
/frontend/dist
/backend/dist
/chrome-extension
/chrome-extension
test-extension-google-login.js
vps-deployment/README_VPS.md
lms_crawler/node_modules
# Ignore all environment files
*.env
.env
frontend/.env
backend/.env
lms_crawler/cookies.txt
README.md
/.agents
backend/node_modules/
lms_crawler/Danh_Sach_Mon_Hoc_EHOU.xlsx

# =========================================================================
# 9router Git Ignore Rules
# =========================================================================
9router/node_modules
9router/.pnp
9router/.pnp.*
9router/.yarn/*
!9router/.yarn/patches
!9router/.yarn/plugins
!9router/.yarn/releases
!9router/.yarn/versions

9router/coverage

9router/.next/
9router/.next-cli-build/
9router/out/
9router/cli/.build-home/
9router/product
9router/build
9router/.idea/

9router/.DS_Store
9router/*.pem

9router/npm-debug.log*
9router/yarn-debug.log*
9router/yarn-error.log*
9router/.pnpm-debug.log*

9router/.env*
!9router/.env.example

9router/.vercel

9router/*.tsbuildinfo
9router/next-env.d.ts

9router/.bin/*
9router/data/
9router/logs/*
9router/source/*
9router/.cursor/*
9router/docs/*
!9router/docs/ARCHITECTURE.md
9router/test/*
9router/open-sse/test/*
9router/RM.vn.md
9router/RM.md
9router/cursor/*
9router/PUBLIC.md
9router/Thanks.md
9router/PUBLIC.en.md
9router/PR/*
9router/package-lock.json

9router/.github/instructions/codacy.instructions.md
9router/README1.md
9router/deploy*.sh
9router/ecosystem.config.*

9router/scripts/agSniffer/*
9router/gitbooks/*
9router/gitbook/README.md
9router/.dockerignore
9router/.env.example
9router/.claude
9router/DOCKER.md
9router/Dockerfile
9router/docs

9router/.firebase/
9router/.firebaserc
9router/firebase.json
